.about {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
}
.AboutInfo {
  grid-column: 3/10;
  padding: 3em;
  color: #fff;
}
.AboutInfo h2 {
  font-size: 2em;
  color: #fff;
}
.divider {
  height: 4px;
  width: 60px;
  background-color: aqua;
  margin-top: 5px;
  margin-bottom: 2em;
}
.about p {
  margin-bottom: 1em;
}
.Fernando1 {
  width: 50vw;
  border: 7px solid aqua;
  height: 50vh;
}
