.principalproyects {
  margin-left: 10vh;
  overflow: hidden;
  width: 90%;
  text-align: left;
  background-color: #212529;
  
  border-radius: 20px;
  
  border-bottom: 5px solid cornflowerblue;
  color: whitesmoke;
}
.title {
  text-align: center;
}
