footer {
    color: cornflowerblue;
    height: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  img{
    height: 40px;
  }
  footer a {
    text-decoration: none;
    color:cornflowerblue;
    margin-left: 5px;
  }
  
 
 