/* .Footer {
  color: cornflowerblue;
  height: 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.img {
  height: 40px;
}
.footer a {
  text-decoration: none;
  color: cornflowerblue;
  margin-left: 5px;
} */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  background-color: aqua;
}
.img {
  height: 40px;
}
.footer-content h2 {
  font-size: 2em;
}
.footer-content h5 {
  font-size: 1em;
}
.sotial-network {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
  font-size: 30px;
  color: #000;
}
.sotial-network i {
  font-size: 1, 5em;
  background-color: aqua;
  color: #000;
}
